/* == GLOBAL == */
/* == Header == */
/* == Footer == */
/* == All Page ==* /
/* == Index == */
/* == About == */
/* == SentioAi == */
/* == SentioQC == */
/* == News == */
/* == Info == */
/* == Contact Us == */
/* == Page-404 == */
/* == Media == */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('./fonts/Poppins-SemiBold.woff') format('woff'),
      url('./fonts/Poppins-Semi-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
      url('./fonts/Poppins-Regular.woff') format('woff'),
      url('./fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* ============ Global ========== */
*:focus{
  outline: none;
}
body{
  font-family: 'Poppins';
  color: #222;
  background-color: #fff;
}
img{
  width: 100%;
  height: auto;
  position: relative;
}
a{
  color: inherit;
}
ul{
  list-style: none;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins';
}
h1,h2{
  font-size: 80px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -3px;
  text-align: center;
  color: #fff;
  margin: 204px 0 0px;
  position: relative;
}
h2{
  margin: 204px 0 0px;
  text-align: left;
  line-height: 1.25;
}
h3{
  font-size: 56px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -2.1px;
  text-align: left;
  color: #222;
  margin: 0;
}
h4{
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.5px;
  text-align: left;
  color: #ffffff;
}
p, time, .page-item, .num-text{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.9px;
}
p.text-size40{
  font-size: 40px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: -1.5px;
}
p.product-box-text{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -0.7px;
}
.font16{
  font-size: 16px;
}
.color-white{
  color: #fff;
}
.color-green{
  color: #6abf4b;
}
.color-black{
  color: #222;
}
.color-grey{
  color: #646464;
}
.box-shadow-img{
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}
.marign-b-70{
  margin-bottom: 70px;
}
section{
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
}
.gb-inherit{
  background-color: inherit;
}
.btn{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
  padding: 7px 32px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}
.btn-green{
  width: 192px;
  background-color: #6abf4b;
  border-color: #6abf4b;
}
.btn-white{
  color: #222;
  background-color: inherit;
  border-color: #979797;
}
.btn-green:hover{
  color: #222;
  background-color: inherit;
  border-color: #979797;
}
.btn-white:hover{
  color: #fff;
  background-color: #6abf4b;
  border-color: #6abf4b;
}
.form-control:focus,
.form-request .form-control:focus{
  border-color: #6abf4b;
}
.page-top-bg{
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.line-mask{
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.line-mask-green{
  left: -10px;
}
.line-mask.line-mask-top{
  top: -1px;
}
.line-mask-green.line-mask-top{
  left: inherit;
  right: -7px;
}
.square::before{
  content: '';
  display: block;
  background-color: #6abf4b;
}
.thank-you{
  padding: 53px 0 69px
}
.thank-you h3{
  line-height: 1.67;
  letter-spacing: -1.8px;
  font-size: 48px;
}
.thank-you p{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.6px;
  margin-bottom: 0;
}
.show>.dropdown-menu {
  display: block;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}
.dropdown-item{
  padding: 10px 25px;
}
/* ========= End Global ========== */


/* ========= Nav ============== */
header, 
header .logo-nav,
.footer-nav{
  height: 80px;
  position: relative;
}
header .logo-nav,
.footer-nav .logo-nav{
  width: 212px;
  display: inline-block;
}
header .logo,
.footer-nav .logo{
  max-width: 159px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-link{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
}
header.header-white .navbar{
  border-right-color: rgba(255,255,255, 0.1);
  border-left-color: rgba(255,255,255, 0.1);
}
header.header-white  .nav-link,
header.header-white  .dropdown-item {
  color: #fff;
}
header.header-white .dropdown-menu{
  background-color: inherit;
  border-color: rgba(255,255,255, 0.1);
}
header.header-white .dropdown-item:hover{
  color: #6abf4b;
}
header.header-white .btn-nav button{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
  color: #6abf4b;
  background-color: inherit;
  border: 0px;
} 
header.header-white .btn-nav button:hover{
  color: #fff;
}
/* ========= End Nav ============= */

/* ========= Header ============== */
header .nav-link{
  color: #222;
}
header .btn-nav button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.navbar{
  width: 732px;
  padding: 0;
  border-right: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
}
.navbar-nav{
  width: 100%;
}
.close-modal{
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  right: 38px;
  top: 39px;
  cursor: pointer;
}
/* ========= End Header ========== */

/* ========= Footer ============== */
.footer-nav{
  width: 100%;
  position: relative;
}
.footer-nav .nav{
  width: 702px;
  padding: 0;
  display: inline-block;
}
.footer-nav .nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  line-height: 80px;
  margin-left: 28px;
  color: #6a6a6a;
}
.line{
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
}
.footer-bottom {
  padding: 19px 0 24px;
}
.footer-bottom p{
  line-height: 2;
  letter-spacing: -0.4px;
  padding: 0;
  margin: 0;
}
.footer-bottom .contact i{
  margin-right: 6px;
}
.footer-bottom .contact i.fa-phone{
  margin-left: 30px;
}
.footer-bottom .footer-tittle{
  margin-bottom: 12px;
}
.copyright{
  color: #b2b2b2;
  margin-top: 25px;
}
.footer-bottom .sign-up{
  width: 427px;
}
.footer-bottom .sign-up .footer-tittle{
  margin-bottom: 5px;
}
.footer-bottom .input-group-addon,
.footer-bottom .input-group{
  background-color: #fff;
  color: #b2b2b2;
}
.footer-bottom .input-group{
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}
.footer-bottom .input-group-addon{
  padding: 12px 15px;
  cursor: pointer;
}
.footer-bottom .input-group-addon:hover{
  background-color: #6abf4b;
  color: #fff;
}
.footer-bottom .input-group .form-control {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-webkit-input-placeholder{
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control:-moz-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-moz-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control:-ms-input-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-ms-input-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.form-request .form-control {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-webkit-input-placeholder{
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control:-moz-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-moz-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control:-ms-input-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-ms-input-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}

/* ========= End Footer ========= */

/* ========= All Page ============== */

.about{
  background-image: url(./../img/bg-about.jpg);
}
.products-and-services{
  background-image: url(./../img/bg-about.jpg);
}
.sentioAI{
  background-image: url(./../img/bg-sentioAI.jpg);
}
.sentioQC{
  background-image: url(./../img/bg-sentioQC.jpg);
}
.sentioAI-projects{
  background-image: url(./../img/bg-sentioAI-projects.jpg);
}
.news{
  background-image: url(./../img/bg-news.jpg);
}
.info{
  background-image: url(./../img/bg-info.jpg);
}
.contact-us{
  background-image: url(./../img/bg-contact-us.jpg);
}
.page-404{
  height: 735px;
  background-image: url(./../img/bg-page-404.jpg);
}
.page-top-bg .square::before{
  width: 30px;
  height: 29px;
  margin: 0 auto 9px;
}
.page-top-p{
  opacity: 0.7;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -1.2px;
  text-align: center;
  color: #fff;
}
.page-top-p + div{
  margin-top: 50px;
}
.request{
  padding: 128px 0;
  background-color: #fcfcfc;
}
.request .square::before{
  width: 34px;
  height: 34px;
  margin: 0 0 20px;
}
.texture-bg{
  position: absolute;
  overflow: hidden;
}
.btn-block{
  margin: 38px 0 0;
}
.btn + .btn{
  margin-left: 20px;
}
/* ========= End All ========== */

/* ========= Index ========== */
.video-wrap{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
video { 
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  display: block;
  background: url('./../video/Paperwork.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.page-top-home {
  height: 820px;
  border-top: 1px solid ;
  border-top-color: rgba(255,255,255, 0.1);
}  
.page-top-home p{
  font-size: 40px;
  line-height: 1.35;
  letter-spacing: -1.5px;
}
.page-top-home .texture-bg{
  width: 700px;
  height: 700px;
  right: 0;
  bottom: 0;
}
.page-top-home .btn-white{
  border-color: rgba(151,151,151, 0.5);
  color: #fff;
}
.page-top-home .btn-white:hover{
  border-color: #6abf4b;
  color: #fff;
  background-color: #6abf4b
}
.page-top-home .btn-green:hover{
  background-color: inherit;
  border-color: rgba(151,151,151, 0.5);
  color: #fff;
}
.sentio-home{
  padding: 238px 0 170px;
}
.sentio-home .text-block{
  max-width: 847px;
  display: inline-block;
  float: right;
  position: relative;
}
.sentio-home .text-block h3{
  margin-bottom: 12px;
}
.sentio-home .texture-bg{
  top: 0;
  right: 0;
}
.sentio-home .text-block::before{
  content: '';
  display: block;
  position: absolute;
  width: 114px;
  height: 112px;
  background-image: url(./../img/icons/symbol.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: -154px;
  top: -18px;
}
.sentio-black{
  background-color: #222;
}
.sentio-black .text-block{
  padding: 162px 0 20px;
} 
.sentio-black .text-box{
  max-width: 360px;
  display: inline-block;
  position: relative;
  margin-bottom: 74px;
}
.sentio-black.home p{
  font-family: 'Poppins-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  opacity: 0.7;
} 
.sentio-black .text-box::before{
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: #6abf4b;
  background-position: center;
  left: -97px;
  top: -20px;
}
.sentio-black .text-box{
  margin-left: 97px;
}
.sentio-black .text-box-1::before{
  background-image: url(./../img/icons/1.svg);
}
.sentio-black .text-box-2::before{
  background-image: url(./../img/icons/2.svg);
}
.sentio-black .text-box-3::before{
  background-image: url(./../img/icons/3.svg);
}
.sentio-black .text-box-4::before{
  background-image: url(./../img/icons/4.svg);
  background-position: 20px 17px;
}
.sentio-black .left-texture{
  left: 0;
  bottom: 25px;
}
.paper-home{
  padding: 157px 0 80px;
  background-color: #fcfcfc;
}
.paper-home .paper-img img{
  width: 458px;
  height: auto;
  margin-left: 80px;
}
.paper-home-text{
  margin-top: 89px;
  margin-bottom: 60px;
}
/* ========= End Index ========== */

/* ========= About ============== */
.top-about{
  padding: 70px 0 100px;
}
.opaciti-title{
  opacity: 0.5;
  font-size: 144px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: -5.4px;
  text-align: left;
  color: #e6e6e6;
  margin: 0;
}
.underline{
  text-decoration: underline;
}
.underline:hover{
  text-decoration: none;
}
.triumphal-img img{
  width: 458px;
  height: auto;
  margin-top: 115px;
  margin-left: 180px
}
.about-main{
  padding: 291px 0 185px;
  background-image: url(./../img/bg-table.jpg);
}
.about-main .texture-bg {
  top: 118px;
  right: 0;
}
.about-main p + p{
  margin: 30px 0 0;
}
.about-main .text-block::before{
  content: '';
  display: block;
  position: absolute;
  width: 114px;
  height: 112px;
  background-image: url(./../img/icons/symbol-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 15px;
  top: -152px;
}
.btn-about{
  padding: 150px 0 80px;
}
.btn-about-text{
  margin-top: 70px;
  margin-bottom: 60px;
}
.btn-about .btn-img img{
  width: 458px;
  height: auto;
  margin-left: -260px;
}
/* ========= End About ========== */

/* ===== Products and services ====== */
.products-top-block{
  padding: 110px 0 15px;
}
.products-top-block .texture-bg{
  right: 0;
  bottom: 318px;
}
.products-top-block .img-block img{
  width: 458px;
  height: auto;
  top: 0;
  z-index: 1;
  left: 175px;
}
.products-top-block h3{
  margin-bottom: 70px;
}
.products-top-block p{
  max-width: 652px;
  margin-bottom: 0;
}
.products-top-block .num{
  width: 68px;
  height: 67px;
  background-color: #6abf4b;
  margin-bottom: 21px;
}
.products-top-block p.top-text{
  margin-bottom: 67px;
}
.products-top-block p.text{
  margin-bottom: 50px;
}
.products-top-block .num p {
  vertical-align: middle;
  position: relative;
  top: 8px;
}

.products-black{
  padding: 130px 0 179px;
  background-color: #222;
}
.products-black .texture-bg{
  bottom: -163px;
  left: 80px
}
.products-black .img-block img{
  max-width: 458px;
  height: auto;
  position: absolute;
  top: 93px;
  left: -165px;
  z-index: 1;
}
.products-black .text-block p{
  margin: 0 0 40px;
  max-width: 638px;
  float: right;
} 
.products-black .text-block p:last-child{
  margin: 0;
} 
.products-our-products{
  padding: 121px 0 140px;
}
.products-our-products h3{
  margin-bottom: 70px;
}
.products-our-products .product-box button{
  display: block;
  margin: 0 auto;
  width: 151px;
}
.products-our-products .product-box-green button{
  background-color: #fff;
  border-color: #6abf4b;
  color: #6abf4b;
}
.products-our-products .product-box-white button{
  background-color: #6abf4b;
  border-color: #6abf4b;
  color: #fff;
}
.products-our-products .product-box-green button:hover{
  background-color: #6abf4b;
  border-color: #fff;
  color: #fff;
}
.products-our-products .product-box-white button:hover{
  background-color: #fff;
  border-color: #6abf4b;
  color: #6abf4b;
}
.products-our-products .product-box img{
  height: 55px;
  width: auto;
  margin: 0 auto;
  display: block;
}
.products-our-products .product-box-text{
  display: block;
  margin: 79px auto 40px;
  max-width: 410px;
}
.products-our-products .product-box-bg{
  background-position: 50% 80px;
  background-repeat: no-repeat;
}
.products-our-products .product-box-green{
  background-color: #6abf4b;
  background-image: url(./../img/ai-logo-bg.svg);
}
.products-our-products .product-box-white{
  background-color: #fff;
  background-image: url(./../img/qc-logo-bg.svg);
}
.products-our-products .inside-box{
  padding: 115px 0 70px;
  height: 471px
}
.products-text-block{
  padding: 245px 0 243px;
  background-image: url(./../img/products-text-block-img.jpg);
}
.products-text-block .text-box{
  position: relative;
}
.products-text-block .text-box.square::before{
  position: absolute;
  width: 34px;
  height: 34px; 
  top: -45px;
}
.products-text-block p{
  margin: 70px 0 0 ;
}
.products-text-block .texture-bg{
  right: 0;
  top: 96px;
}
/* ===== End Products and services === */

/* ========= SentioAi =========== */
.sentioAI-top-block{
  padding: 110px 0 59px;
}
.sentioAI-top-block h3{
  margin-bottom: 87px;
}
.sentioAI-top-block .sentioAI-list{
  position: relative;
  margin-bottom: 50px;
}
.sentioAI-top-block .sentioAI-list.top75{
  margin-bottom: 106px;
}
.sentioAI-top-block .number-wrap{
  display: inline;
}
.sentioAI-top-block .number{
  display: inline-block;
  width: 68px;
  height: 67px;
  background-color: #6abf4b;
  margin-right: 39px;
  vertical-align: top;
}
.sentioAI-top-block .number p{
  vertical-align: middle;
  position: relative;
  top: 8px;
}
.sentioAI-top-block .sentioAI-list .text{
  display: inline-block;
  max-width: 1043px;
  height: 100%;
}
.sentioAI-top-block .sentioAI-list.top75 .num-text{
  top: 75%;
}
.sentioAI-top-block .sentioAI-list .num-text {
  display: block;
  position: absolute;
  transform: translate(0, -50%);
  margin: 0;
  top: 50%;
}
.sentioAI-top-block .texture-bg{
  right: 0;
  bottom: 140px;
}
.sentioAI-text-block{
  padding: 148px 0 82px;
  background-image: url(./../img/sentioAI-text-bg.jpg);
}
.sentioAI-text-block .text-box{
  max-width: 638px;
  margin-left: 251px;
  position: relative;
}
.sentioAI-text-block .text-box.square::before{
  position: absolute;
  width: 34px;
  height: 31px; 
  top: -51px;
}
.sentioAI-text-block .texture-bg{
  right: 0;
  top: 96px;
}
.sentioAI-text-block .text-box p{
  margin-bottom: 38px;
}
.sentioAI-text-block .text-box p+p{
  margin: 0;
}
.sentios-img-section{
  padding: 100px 0 120px;
}
.sentios-img-section .sentioAi-text{
  margin-top: 90px;
}
.sentios-img-section .sentioAi-text p{
  margin-bottom: 30px;
}
.sentios-img-section .sentioAi-img img{
  width: 458px;
  height: auto;
  margin-left: 80px;
}
.sentios-img-section .btn-block{
  margin: 0;
}
/* ========= End SentioAi ======= */

/* ========= SentioQC =========== */
.sentioQC-view{
  padding: 110px 0 145px;
}
.sentioQC-view .texture-bg {
  right: 0;
  bottom: 172px;
}
.sentio-black.sentioQC-black .text-block{
  padding: 177px 0 150px;
}
.sentioQC-black .sentio-black-title{
  margin-bottom: 96px;
  max-width: 1100px;
}
.sentio-black.sentioQC-black .text-box {
  max-width: 415px;
  margin-bottom: 74px;
}
.sentio-black.sentioQC-black .text-box::before{
  background-color: #fff;
  top: 0px;
}
.sentio-black.sentioQC-black .text-box-4::before{
  background-position: center;
}
.sentio-black.sentioQC-black .text-box-1::before {
  background-image: url(./../img/icons/a.svg);
} 
.sentio-black.sentioQC-black .text-box-2::before {
  background-image: url(./../img/icons/b.svg);
} 
.sentio-black.sentioQC-black .text-box-3::before {
  background-image: url(./../img/icons/c.svg);
} 
.sentio-black.sentioQC-black .text-box-4::before {
  background-image: url(./../img/icons/d.svg);
}  
/* ========= End SentioAi ======= */

/* ========= SentioQAI-projects ====== */
.sentioQAI-projects-view{
  padding: 100px 0 58px;
}
.sentioQAI-projects-view .text-box{
  max-width: 682px;
}
.sentioQAI-projects-view p{
  margin-bottom: 30px;
}
.sentioQAI-projects-view .img-box img{
  top: 103px;
  margin-left: 120px;
}
/* ========= End SentioQAI-projects == */

/* ========== News ============= */
.news-main {
  padding: 110px 0 150px;
}
.news-main .date{
  display: inline-block;
  background-color: #6abf4b;
  margin-bottom: 32px;
}
.news-main time{
  color: #fff;
  padding: 22px 0;
  display: block;
  width: 262px;
  text-align: center;
}
.news-box{
  margin-bottom: 100px;
}
.news-box p{
  margin-bottom: 50px;
}
.news-box p:last-child{
  margin-bottom: 0;
}
.pagination{
  padding-top: 50px;
  margin: 0;
}  
.pagination .page-item:first-child{
  margin-right: 44px;
} 
.pagination .page-item:last-child{
  margin-left: 44px;
}  
.page-item {
  margin: 0 12px;
}
.page-item .page-link{
  color: #222;
  text-align: center;
  display: block;
  width: 68px;
  padding: 18px 10px;
  border: solid 1px #e6e6e6;
}
.page-item .page-link.active{
  color: #6abf4b;
  border: solid 1px #6abf4b;
}
.page-item .page-link i{
  font-size: 16px;
}
.page-item .arrow{
  border: solid 1px #979797;
}
.page-item:last-child .page-link,
.page-item:first-child .page-link{
  border-radius: 0px;
}  
.page-item .page-link.disable-caret {
  color: #e6e6e6;
  border: solid 1px #e6e6e6;
  cursor: default;
}
/* ========== End News ========== */

/* ========== Info ============== */
.info-top-block{
  padding: 110px 0 118px;
}
.info-top-block h3{
  margin-bottom: 70px;
}
.stories-block{
  margin-bottom: 80px;
}
.info-top-block .stories-box{
  width: 530px;
  margin: 0 auto;
}
.info-top-block .stories-box-img{
  overflow: hidden;
  position: relative;
  height: 232px;
}
.info-top-block .stories-box-img::before{
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.3);
  z-index: 1;
}
.info-top-block .stories-box img{
  transition: all 1s ease-in-out;
}  
.info-top-block .stories-block p{
  margin: 18px 0 13px;
  display: inline-block;
}
.info-top-block .stories-block p:hover{
  color: #6abf4b;
}
.info-top-block .pdf{
  position: absolute;
  width: 71px;
  height: 72px;
  background-color: #6abf4b;
  background-image: url(./../img/icons/pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.info-top-block .see-more{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 7px 54px 7px 30px;
  border-color: rgba(151,151,151, 0.5);
}
.info-top-block .see-more::before{
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 11px;
  background-image: url(./../img/icons/arrows-down.svg);
  top: 17px;
  right: 27px;
}
.info-green-block{
  padding: 70px 0 73px;
  background-color: #6abf4b;
}
.info-green-block h3{
  margin-bottom: 51px;
}
.info-green-block .info-green-box{
  margin-left: 97px;
}  
.info-green-block .pdf-text{
  position: relative;
  margin-bottom: 32px;
  margin-left: 65px;
}
.info-green-block .pdf-text::before{
  content: '';
  position: absolute;
  width: 49px;
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #fff;
  background-image: url(./../img/icons/pd-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: -65px;
  bottom: -3px;
}
.info-green-block .texture-bg{
  top: 0;
  right: -57px;
}
.info-video{
  padding: 70px 0 90px;
  background-color: #222;
}
.info-video h3{
  max-width: 945px;
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.info-video video{
  min-width: 945px;
  max-width: 945px;
  height: auto;
  margin: 0 auto;
}
/* == Slider == */
.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-size: 13px;
  color: #fff;
}
.slick-prev, .slick-next {
  width: 68px;
  height: 68px;
  border: solid 1px #979797;;
  background-color: transparent;
  top: 50%;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  z-index: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before {
  content: "\f0d9";
}
.slick-next:before {
  content: "\f0da";
}
.slick-prev {
  left: -15px;
}
.slick-next {
  right: -15px;
}
.slick-dots {
  bottom: -60px;
}
.slick-initialized .slick-slide {
  position: relative;
}
.slick-dots li button:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4b4b4b;
}
.slick-dots li.slick-active button:before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #6abf4b;
}
/* == End Slider == */
.info-slider{
  padding: 110px 0 100px;
}
.info-slider h3{
  max-width: 750px;
  display: block;
  margin: 0 auto;
  margin-bottom: 46px;
}
.info-slider .text-bottom{
  line-height: 2;
  letter-spacing: -0.6px;
  font-size: 16px;
  margin: 0;
}
.info-slider .main-slider{
  margin-bottom: 26px;
}
.info-slider .slider-block{
  min-width: 750px;
  max-width: 750px;
  height: auto;
  margin: 0 auto;
}
.info-slider .quote{
  width: 34.8px;
  height: 25.6px;
  margin-bottom: 20px;
}
.info-slider .slick-prev:before, 
.info-slider .slick-next:before{
  color: #222;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  opacity: .5;
}
/* ========== End Info ========== */

/* ========== Contact Us ========== */
.contact-us-main{
  padding: 100px 0 60px;
}
.contact-us-main .contact-us-title{
  margin-bottom: 77px;
}
.contact-us-main .contacts p{
  margin-bottom: 30px;
}
.contact-us-main .address {
  position: absolute;
  bottom: 0;
  left: 15px;
}
.contact-us-main .address p{
  margin-bottom: 0px;
}
.form-request{
  padding: 30px 40px 33px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}
.form-request p{
  margin-bottom: 30px
}
.form-request .form-control{
  margin-bottom: 20px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}  
.form-request button{
  margin-top: 40px;
}
#map{
  width: 100%;
  height: 490px;
}

/* ========== End Contact Us ====== */

/* ====== Page 404 ================ */

.page-404 button:hover{
  color: #fff;
}
.page-404 .texture-bg{
  width: 560px;
  height: 560px;
  top: 87px;
}
.page-404 .texture-bg.left-texture{
  left: 0;
}
.page-404 .texture-bg.right-texture{
  right: 0;
}
/* ====== End Page 404 =========== */

/* ====== Media ========= */
@media (min-width: 1200px){
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1199px){
  header .logo-nav, .footer-nav .logo-nav {
    width: 165px;
  }  
  .navbar {
    width: 600px;
  }  
  header .btn-green {
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-top-block .stories-box{
    width: 100%;
  }  
  .info-top-block .stories-box-img{
    height: auto;
  }
  .info-video video,.info-video h3 {
    min-width: 700px;
    max-width: 700px;
  }  
}

@media screen and (max-width: 991px){
  header .btn-nav button{
    position: absolute;
    top: 42px;
    right: 100px;
  }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
  }
  .navbar {
    width: 520px;
    top: 30px;
  }
  .navbar-toggler-right{
    z-index: 999;
  }
  .collapse.show{
    display: block;
    z-index: 99;
    position: relative;
    right: 0px;
  }
  .navbar-nav {
    text-align: right;
    padding: 20px;
    background-color: transparent;
    top: 50px;
    position: relative;
    width: 250px;
    float: right;
  }
  header .nav-link{
    color: #fff;
  }
  .navbar-toggleable-md .navbar-nav .dropdown-menu{
    float: right;
  }
  .footer-bottom .footer-tittle,
  .footer-bottom p{
    text-align: center;
  }
  .footer-bottom .sign-up {
    width: 100%;
    text-align: center;
    float: none;
  }
  .footer-bottom .input-group {
    width: 420px;
    margin: auto;
  }
  .footer-nav .nav{
    display: none;
  }
  .footer-nav .logo-nav {
    width: 165px;
    margin: 24px auto;
    position: relative;
    display: block;
  }
  .copyright{
    text-align: center;
  }
  .header.header-white .navbar,
  .navbar{
    border-right-color: transparent;
    border-left-color: transparent ;
    border: 0;
  }
  .texture-bg,.products-black .img-block img{
    display: none;
  }
  .triumphal-img img,.btn-about .btn-img img,
  .sentios-img-section .sentioAi-img img,
  .sentioQAI-projects-view .img-box img {
    width: 600px;
    height: auto;
    margin: 20px auto;
    display: block;
  }  
  .products-text-block,
  .about-main,
  .sentioAI-text-block{
    background-repeat: no-repeat;
  }
  .slick-prev, .slick-next{
    display: none !important;
  } 
  .info-video video, .info-video h3,
  .info-slider .slider-block {
    min-width: 100%;
    max-width: 100%;
  }  
  .contact-us-main .address {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .sentioAI-top-block .sentioAI-list .text {
    display: block;
    max-width: 600px;
    height: auto;
  }
  .sentioAI-top-block .sentioAI-list .num-text,
  .sentioAI-top-block .sentioAI-list.top75 .num-text{
    transform: translate(0, 0);
    margin: 0;
    top: -75px;
    display: block;
    position: relative;
    transition: inherit;
    max-width: 600px;
    margin-left: 100px;
  }
  .sentioAI-top-block .sentioAI-list,
  .sentioAI-top-block .sentioAI-list.top75{
    margin-bottom: 0;
  }
  .products-top-block .img-block img,
  .paper-home .paper-img img{
    display: none;
  }
  .sentioAI-text-block .text-box {
    max-width: 100%;
    margin-left: 0;
    position: relative;
  }
  .products-our-products .inside-box {
    padding: 115px 0 70px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px){
  header .container {
    max-width: 100%;
    width: 100%;
  }
  .navbar-toggler-right{
    right: 0;
  }
  header .btn-nav button {
    position: absolute;
    top: 46px;
    right: 150px;
    z-index: 999;
  }
  h2 {
    margin: 102px 0 0px;
    font-size: 60px
  }
  .page-top-home p {
    font-size: 30px;
  } 
  .page-top-home {
    height: 600px;
  }  
  h3 {
    font-size: 46px;
  } 
  p, time, .page-item, .num-text {
    font-size: 20px;
  }
  .sentio-home {
    padding: 118px 0 85px;
  } 
  .sentio-home .text-block::before{
    display: none;
  }
  .line-mask-green.line-mask-top,
  .line-mask.line-mask-top,
  .line-mask-green,
  .line-mask{
    display: none;
  }
  .sentio-black .text-block{
    padding: 80px 0 10px;
  }
  p.text-size40 {
    font-size: 30px;
  }
  .paper-home {
    padding: 80px 0 40px;
  }  
  h1, h2 {
    font-size: 60px;
    margin: 105px 0 0px;
  }
  .page-top-bg {
    height: 400px;
  }   
  .opaciti-title {
    font-size: 70px; 
  }
  .triumphal-img img, .btn-about .btn-img img, .sentios-img-section .sentioAi-img img, .sentioQAI-projects-view .img-box img{
    width: 100%;
  } 
  .top-about {
    padding: 30px 0 50px;
  } 
  .about-main .text-block::before{
    top: -85px;
    width: 64px;
    height: 63px;
  }
  .about-main {
    padding: 145px 0 92px;
  }
  .btn-about {
    padding: 75px 0 40px;
  } 
  .sentioAI-top-block {
    padding: 55px 0 30px;
  }
  .sentioAI-top-block h3 {
    margin-bottom: 47px;
  }  
  .sentioAI-top-block .number {
    display: inline-block;
    width: 63px;
    height: 55px;
  }
  .sentioAI-top-block .sentioAI-list .num-text, .sentioAI-top-block .sentioAI-list.top75 .num-text{
    top:-62px;
  }  
  .sentioAI-text-block {
    padding: 75px 0 42px;
  }
  .sentios-img-section {
    padding: 50px 0 60px;
  }
  .sentios-img-section .sentioAi-text {
    margin-top: 0;
  }   
  .request {
    padding: 60px 0;
  }
  .products-text-block {
    padding: 120px 0 120px;
  }
  .products-our-products {
    padding: 60px 0 70px;
  }
  .products-our-products h3 {
    margin-bottom: 35px;
  } 
  .products-black {
    padding: 65px 0 90px;
  }
  .products-top-block {
    padding: 55px 0 15px;
  }  
  .products-top-block .num {
    height: 56px;
  }
  .products-top-block h3 {
    margin-bottom: 35px;
  }
  .sentioQC-view {
    padding: 60px 0 70px;
  }
  .marign-b-70 {
    margin-bottom: 35px;
  }
  .sentio-black.sentioQC-black .text-block {
    padding: 85px 0 75px;
  } 
  .sentioQC-black .sentio-black-title {
    margin-bottom: 48px;
  }
  h4 {
    font-size: 20px;
  }
  .sentio-black .text-box::before {
    width: 40px;
    height: 40px;
    left: -55px;
    top: -18px;
    background-size: 50%;
  }
  .sentio-black .text-box {
    margin-left: 55px;
  }
  .sentio-black.sentioQC-black .text-box {
    margin-bottom: 40px;
  }
  .sentioQAI-projects-view {
    padding: 50px 0 30px;
  }
  .sentioQAI-projects-view .img-box img {
    top: 0;
  }
  .news-main time {
    padding: 14px 0;
    width: 220px;  
  }
  .news-box {
    margin-bottom: 50px;
  }
  .page-item .page-link {
    width: 55px;
    padding: 13px 10px;
  }
  .page-item {
    margin: 0 5px;
  }
  .info-top-block {
    padding: 60px 0 65px;
  }
  .info-top-block h3 {
    margin-bottom: 35px;
  } 
  .stories-block {
    margin-bottom: 40px;
  }
  .info-green-block{
    padding: 35px 0 30px;
  }
  .info-green-block .info-green-box {
    margin-left: 0;
  }
  .info-video {
    padding: 35px 0 45px;
  }  
  .info-video h3{
    margin-bottom: 35px;
  }
  .info-slider {
    padding: 55px 0 50px;
  }
  .contact-us-main {
    padding: 50px 0 30px;
  }
  .contact-us-main .contact-us-title {
    margin-bottom: 35px;
  }

}
@media screen and (max-width: 576px){
  .paper-home-text {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .page-top-home {
    height: 450px;
  }
  header .logo-nav, .footer-nav .logo-nav{
   position: absolute;
  }
  .navbar {
    width: 100%;
  }
  .sentio-home {
    padding: 60px 0 55px;
  }
  .sentio-black .text-box::before{
    top: 0;
  }
  .font16 {
    font-size: 14px;
  }
  .page-top-bg {
    height: 350px;
  }
  .page-top-p + div {
    margin-top: 0px;
 }
 .page-top-p{
   margin-bottom: 0;
 }
}
@media screen and (max-width: 374px){
  .footer-bottom .input-group {
    width: 300px;
    margin: auto;
  }
  .footer-bottom .contact i.fa-phone {
    margin-left: 0;
  }
  .phone{
    display: block;
  }
  .footer-bottom p{
    text-align: left;
  }
  h1, h2 {
    font-size: 48px;
  }
  header .btn-nav button{
    display: none;
  }
  .navbar-nav{
    background-color: #fff;
    border-radius: 5px;
  }
  header .nav-link,header.header-white .nav-link{
    color: #6abf4b;
  }
  h1, h2 {
    margin: 40px 0 0px;
  }
  .page-top-home {
    height: 530px;
  }
  .page-top-home .btn-white {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  .btn + .btn {
    margin-left: 0;
    display: block;
    margin: auto;
  } 
  .page-top-home p {
    font-size: 28px;
  } 
  h3 {
    font-size: 37px;
  }
  p, time, .page-item, .num-text {
    font-size: 18px;
  }
  .sentio-black .text-box-4::before {
    background-position: 12px 10px;
  }
  p.text-size40 {
    font-size: 24px;
  }
  .sentio-black.home p {
    font-size: 14px;
  }
  .sentio-black .text-box{
    margin-bottom: 35px;
  }
  .products-our-products h3,
  .sentioAI-top-block h3,
  .info-top-block h3 ,
  .products-top-block h3,
  .info-video h3{
    margin-bottom: 25px;
  }
  .btn-block .btn-white{
    margin: auto;
    margin-bottom: 15px;
    display: block;
  }
  .footer-nav .logo-nav {
    position: relative;
    display: block;
    margin: auto;
    top: 30px;
  }
  .page-top-bg {
    height: 250px;
  }
  .opaciti-title {
    font-size: 56px;
    line-height: 1.15;
  }
  .about-main {
    padding: 95px 0 42px;
  }
  .btn-about {
    padding: 30px 0 20px;
  }
  .btn-about-text {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .sentioAI-top-block .number {
    display: inline-block;
    width: 53px;
    height: 48px;
    margin-right: 15px;
  }
  .sentioAI-top-block .sentioAI-list .num-text, .sentioAI-top-block .sentioAI-list.top75 .num-text{
    margin-left: 75px;
  }
  .request {
    padding: 20px 0;
  }
  .close-modal {
    width: 15px;
    height: 15px;
    right: 17px;
    top: 18px;
  }
  .form-request {
    padding: 15px 15px 20px;
  }
  .products-top-block .num {
    height: 45px;
    width: 45px;
  }
  .products-our-products .product-box img {
    height: auto;
    width: 95%;
  }
  .products-text-block {
    padding: 60px 0 ;
  }  
  .products-text-block p {
    margin: 20px 0 0;
  }
  .sentioAI-top-block .sentioAI-list .num-text, .sentioAI-top-block .sentioAI-list.top75 .num-text{
    top: -50px;
  }
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    float: right;
    border: none;
  }
  .dropdown-item {
    padding: 10px 25px;
    color: #6abf4b;
    text-align: right;
    font-size: 14px;
    padding: 5px 25px;
  }
  .info-slider .text-bottom {
    line-height: 1.5;
    font-size: 13px;
  }
  .thank-you {
    padding: 25px 15px;
  } 
  #map {
    width: 100%;
    height: 320px;
  }
  .news-main {
    padding: 50px 0 50px;
  }

}
