/* == GLOBAL == */
/* == Header == */
/* == Footer == */
/* == All Page ==* /
/* == Index == */
/* == News == */
/* == Contact Us == */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('./fonts/Poppins-SemiBold.woff') format('woff'),
      url('./fonts/Poppins-Semi-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
      url('./fonts/Poppins-Regular.woff') format('woff'),
      url('./fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* ============ Global ========== */

body{
  font-family: 'Poppins';
  color: #222;
  background-color: #fff;
}
img{
  width: 100%;
  height: auto;
  position: relative;
}
a{
  color: inherit;
}
ul{
  list-style: none;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins';
}
h1{
  font-size: 80px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -3px;
  text-align: center;
  color: #fff;
  margin: 204px 0 0px;
  position: relative;
}
h3{
  font-size: 56px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -2.1px;
  text-align: left;
  color: #222;
  margin: 0;
}
p, time, .page-item{
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.9px;
}
.font16{
  font-size: 16px;
}
.color-white{
  color: #fff;
}
.color-green{
  color: #6abf4b;
}
.color-black{
  color: #222;
}
.color-grey{
  color: #646464;
}
section{
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
}
.gb-inherit{
  background-color: inherit;
}
.btn{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
  padding: 7px 32px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}
.btn-green{
  width: 192px;
  background-color: #6abf4b;
  border-color: #6abf4b;
}
.btn-white{
  color: #222;
  background-color: inherit;
  border-color: #979797;
}
.btn-green:hover{
  color: #222;
  background-color: inherit;
  border-color: #979797;
}
.btn-white:hover{
  color: #fff;
  background-color: #6abf4b;
  border-color: #6abf4b;
}
.form-control:focus,
.form-request .form-control:focus{
  border-color: #6abf4b;
}
.page-top-bg{
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.line-mask{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.line-mask-green{
  left: -10px;
}
.square::before{
  content: '';
  display: block;
  background-color: #6abf4b;
}
/* ========= End Global ========== */


/* ========= Nav ============== */
header, 
header .logo-nav,
.footer-nav{
  height: 80px;
  position: relative;
}
header .logo-nav,
.footer-nav .logo-nav{
  width: 212px;
  display: inline-block;
}
header .logo,
.footer-nav .logo{
  max-width: 159px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
 .nav-link{
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
}
/* ========= End Nav ============= */

/* ========= Header ============== */
header .nav-link{
  color: #222;
}
header .btn-nav button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.navbar{
  width: 732px;
  padding: 0;
  border-right: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
}
.navbar-nav{
  width: 100%;
}
.close-modal{
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  right: 38px;
  top: 39px;
  cursor: pointer;
}
/* ========= End Header ========== */

/* ========= Footer ============== */
.footer-nav{
  width: 100%;
  position: relative;
}
.footer-nav .nav{
  width: 702px;
  padding: 0;
  display: inline-block;
}
.footer-nav .nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  line-height: 80px;
  margin-left: 28px;
  color: #6a6a6a;
}
.line{
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
}
.footer-bottom {
  padding: 19px 0 24px;
}
.footer-bottom p{
  line-height: 2;
  letter-spacing: -0.4px;
  padding: 0;
  margin: 0;
}
.footer-bottom .contact i{
  margin-right: 6px;
}
.footer-bottom .contact i.fa-phone{
  margin-left: 30px;
}
.footer-bottom .footer-tittle{
  margin-bottom: 12px;
}
.copyright{
  color: #b2b2b2;
  margin-top: 25px;
}
.footer-bottom .sign-up{
  width: 427px;
}
.footer-bottom .sign-up .footer-tittle{
  margin-bottom: 5px;
}
.footer-bottom .input-group-addon,
.footer-bottom .input-group{
  background-color: #fff;
  color: #b2b2b2;
}
.footer-bottom .input-group{
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}
.footer-bottom .input-group-addon{
  padding: 12px 15px;
  cursor: pointer;
}
.footer-bottom .input-group-addon:hover{
  background-color: #6abf4b;
  color: #fff;
}
.footer-bottom .input-group .form-control {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-webkit-input-placeholder{
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control:-moz-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-moz-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control:-ms-input-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.footer-bottom .input-group .form-control::-ms-input-placeholder {
  font-size: 16px;
  color: #b2b2b2;
  font-family: 'Poppins';
}
.form-request .form-control {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-webkit-input-placeholder{
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control:-moz-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-moz-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control:-ms-input-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}
.form-request .form-control::-ms-input-placeholder {
  font-size: 16px;
  color: #646464;
  font-family: 'Poppins';
}

/* ========= End Footer ========= */

/* ========= All Page ============== */

.about{
  background-image: url(./../img/bg-about.jpg);
}
.sentioAI{
  background-image: url(./../img/bg-sentioAI.jpg);
}
.sentioQC{
  background-image: url(./../img/bg-sentioQC.jpg);
}
.sentioAI-projects{
  background-image: url(./../img/bg-sentioAI-projects.jpg);
}
.news{
  background-image: url(./../img/bg-news.jpg);
}
.info{
  background-image: url(./../img/bg-info.jpg);
}
.contact-us{
  background-image: url(./../img/bg-contact-us.jpg);
}
.page-404{
  height: 735px;
  background-image: url(./../img/bg-page-404.jpg);
}
.page-top-bg .square::before{
  width: 30px;
  height: 29px;
  margin: 0 auto 9px;
}
.page-top-p{
  opacity: 0.7;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -1.2px;
  text-align: center;
  color: #fff;
}
.page-top-p + div{
  margin-top: 50px;
}
.request{
  padding: 128px 0;
  background-color: #fcfcfc;
}
.request .square::before{
  width: 34px;
  height: 34px;
  margin: 0 0 20px;
}
.texture-bg{
  position: absolute;
  overflow: hidden;
}
.btn-block{
  margin: 38px 0 0;
}
.btn + .btn{
  margin-left: 20px;
}
/* ========= End All ========== */

/* ========= Index ========== */
.video-wrap{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
video { 
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  display: block;
  background: url('./../video/Paperwork.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/* =========End Index ========== */

/* ========== News ============= */
.news-main {
  padding: 110px 0 150px;
}
.news-main .date{
  display: inline-block;
  background-color: #6abf4b;
  margin-bottom: 32px;
}
.news-main time{
  color: #fff;
  padding: 22px 0;
  display: block;
  width: 262px;
  text-align: center;
}
.news-box{
  margin-bottom: 100px;
}
.news-box p{
  margin-bottom: 50px;
}
.news-box p:last-child{
  margin-bottom: 0;
}
.pagination{
  padding-top: 50px;
  margin: 0;
}  
.pagination .page-item:first-child{
  margin-right: 44px;
} 
.pagination .page-item:last-child{
  margin-left: 44px;
}  
.page-item {
  margin: 0 12px;
}
.page-item .page-link{
  color: #222;
  text-align: center;
  display: block;
  width: 68px;
  padding: 18px 10px;
  border: solid 1px #e6e6e6;
}
.page-item .page-link.active{
  color: #6abf4b;
  border: solid 1px #6abf4b;
}
.page-item .page-link i{
  font-size: 16px;
}
.page-item .arrow{
  border: solid 1px #979797;
}
.page-item:last-child .page-link,
.page-item:first-child .page-link{
  border-radius: 0px;
}  
.page-item .page-link.disable-caret {
  color: #e6e6e6;
  border: solid 1px #e6e6e6;
  cursor: default;
}
/* ========== End News ========== */

/* ========== Contact Us ========== */
.contact-us-main{
  padding: 100px 0 60px;
}
.contact-us-main .contact-us-title{
  margin-bottom: 77px;
}
.contact-us-main .contacts p{
  margin-bottom: 30px;
}
.contact-us-main .address {
  position: absolute;
  bottom: 0;
  left: 15px;
}
.contact-us-main .address p{
  margin-bottom: 0px;
}
.form-request{
  padding: 30px 40px 33px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}
.form-request p{
  margin-bottom: 30px
}
.form-request .form-control{
  margin-bottom: 20px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}  
.form-request button{
  margin-top: 40px;
}
#map{
  width: 100%;
  height: 490px;
}

/* ========== End Contact Us ====== */

/* ====== Page 404 ================ */

.page-404 button:hover{
  color: #fff;
}
.page-404 .texture-bg{
  width: 560px;
  height: 560px;
  top: 87px;
}
.page-404 .texture-bg.left-texture{
  left: 0;
}
.page-404 .texture-bg.right-texture{
  right: 0;
}
/* ====== End Page 404 =========== */
@media (min-width: 1200px){
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

